.base-card,
.container-fluid {
  width: 100%;
  margin-left: 10px;

}

.history {
  position: relative;
  margin-left: 35px;
  bottom: 124px;
  left: 89.5%;
}

.card {
  width: 25%;
  height: 238px;
}

.design {
  padding-top: 10px;
}

::ng-deep .bh-card--contained-content.border {
  border-top: 1px solid var(--color-border-common-primary);
  padding-top: 3px;
}

#sb--bh-tabular-list--small {
  width: 100%;
  height: 100%;
}

